<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy72kUJ5llepPjLXFsGa5--_MK07gD8b0</string>
	<key>GCM_SENDER_ID</key>
	<string>934791390159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soulcare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>soulcare-1ca84</string>
	<key>STORAGE_BUCKET</key>
	<string>soulcare-1ca84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934791390159:ios:1dd92cb89b19b1dfeca8ba</string>
</dict>
</plist>